# Fichiers personnels et téléchargements
downloads/
*.env
archive.txt
pinterest_archive.txt
sessions/

# Environnement Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Distribution et Build (PyInstaller)
build/
dist/
*.spec
